@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    font-family: 'Lato', 'Open Sans', sans-serif;
    --color-rank-white: #e6e6e6;
    --color-rank-yellow: #ecb613;
    --color-rank-blue: #3c7ebb;
    --color-rank-purple: #866cc7;
    --color-rank-red: #bb432c;
    --color-rank-black-dark: #333;
    --rank-background-color: #181919;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

h1,
h2,
h3,
p {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: .75em;
}

.loader {
    width: 100px;
    height: 100px;
    transition: all .9s;
    justify-self: center;
    align-self: center;
}

.hidden {
    display: none;
}

body {
    background-color: #222;
}

header {
    height: 120px;
    display: grid;
    justify-items: left;
    align-items: center;
    padding: 0 1em;
    grid-template-columns: 4.5em repeat(2, 1fr);
    gap: 2em;
}

.user-image {
    height: 4.5em;
    width: 4.5em;
    border-radius: 50%;
}

.info {
    display: grid;
    gap: .25em;
}

.name {
    margin-right: 12px;
}

.name-rang {
    display: flex;
}

.username {
    width: 250px;
    height: 1.75em;
    padding-left: .75em;
    margin-top: 1em;
    background-color: #222; 
    box-shadow: 0 0 0 1px #3f3f46;
    border-radius: .25em;
    outline: none;
    border: none;
    color: white;
    font-weight: 400;
}

.username:focus {
    box-shadow: 0 0 0 2pt #485563;
}

.stats {
    display: grid;
}

.stats *::before {
    font-weight: 600;
    color: #b0b0b0;
}

/*  */

.is-white-rank {
	color: #e6e6e6;
	color: var(--color-rank-white)
}

.is-yellow-rank {
	color: #ecb613;
	color: var(--color-rank-yellow)
}

.is-blue-rank {
	color: #3c7ebb;
	color: var(--color-rank-blue)
}

.is-purple-rank {
	color: #866cc7;
	color: var(--color-rank-purple)
}

.is-red-rank {
	color: #bb432c;
	color: var(--color-rank-red)
}

.is-black-rank {
	color: #333;
	color: var(--color-rank-black-dark)
}

.rank-badge {
    height: 26px;
    width: 34px;
    color: #f4f4f5;
    position: relative;
    margin-right: 8px;
    margin-left: 8px;
    text-align: center;
    font-weight: 700;
    z-index: 1;
    text-shadow: none;
    line-height: 28px;
    font-size: 12px;
}

.rank-badge.is-white-rank {
    background-color: #e6e6e6;
    background-color: var(--color-rank-white);
}

.rank-badge.is-yellow-rank {
    background-color: #ecb613;
    background-color: var(--color-rank-yellow);
}

.rank-badge.is-blue-rank {
    background-color: #3c7ebb;
    background-color: var(--color-rank-blue);
}

.rank-badge.is-purple-rank {
    background-color: #866cc7;
    background-color: var(--color-rank-purple);
}

.rank-badge.is-red-rank {
    background-color: #bb432c;
    background-color: var(--color-rank-red);
}

.rank-badge.is-black-rank {
    background-color: #333;
    background-color: var(--color-rank-black-dark);
}

.rank-badge:after, .rank-badge:before {
    width: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    position: absolute;
    z-index: 0;
    -moz-transform: scale(.9999);
}

.rank-badge:before {
    content: " ";
    height: 0;
    border-right: 8px solid;
    left: -8px;
}

.rank-badge.is-white-rank::before {
    border-right-color: #f4f4f5;
    border-right-color: var(--color-rank-white);
}

.rank-badge.is-yellow-rank::before {
    border-right-color: #ecb613;
    border-right-color: var(--color-rank-yellow);
}

.rank-badge.is-blue-rank::before {
    border-right-color: #3c7ebb;
    border-right-color: var(--color-rank-blue);
}

.rank-badge.is-purple-rank::before {
    border-right-color: #866cc7;
    border-right-color: var(--color-rank-purple);
}

.rank-badge.is-red-rank::before {
    border-right-color: #bb432c;
    border-right-color: var(--color-rank-red);
}

.rank-badge.is-black-rank::before {
    border-right-color: #333;
    border-right-color: var(--color-rank-black-dark);
}

.rank-badge:after {
    content: "";
    right: -8px;
    top: 0;
    border-left: 8px solid;
}

.rank-badge.is-white-rank::after {
    border-left-color: #f4f4f5;
    border-left-color: var(--color-rank-white);
}

.rank-badge.is-yellow-rank::after {
    border-left-color: #ecb613;
    border-left-color: var(--color-rank-yellow);
}

.rank-badge.is-blue-rank::after {
    border-left-color: #3c7ebb;
    border-left-color: var(--color-rank-blue);
}

.rank-badge.is-purple-rank::after {
    border-left-color: #866cc7;
    border-left-color: var(--color-rank-purple);
}

.rank-badge.is-red-rank::after {
    border-left-color: #bb432c;
    border-left-color: var(--color-rank-red);
}

.rank-badge.is-black-rank::after {
    border-left-color: #333;
    border-left-color: var(--color-rank-black-dark);
}

/* ------------------- */

.inner-rank-badge {
    height: 22px;
    width: 32px;
    background-color: var(--rank-background-color);
    position: relative;
    margin-right: 6px;
    text-align: center;
    line-height: 22px;
    z-index: 1;
    text-shadow: none;
    margin-left: 1px;
    top: 2px;
    font-size: 11px;
}

.inner-rank-badge.is-white-rank {
    color: #f4f4f5;
    color: var(--color-rank-white)
}

.inner-rank-badge.is-yellow-rank {
    color: #ecb613;
    color: var(--color-rank-yellow);
}

.inner-rank-badge.is-blue-rank {
    color: #3c7ebb;
    color: var(--color-rank-blue);
}

.inner-rank-badge.is-purple-rank {
    color: #866cc7;
    color: var(--color-rank-purple)
}

.inner-rank-badge.is-red-rank {
    color: #bb432c;
    color: var(--color-rank-red);
}

.inner-rank-badge.is-black-rank {
    color: #555;
    font-weight: 900;
}

/* ------------- */

.inner-rank-badge:after, .inner-rank-badge:before {
    width: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    z-index: 0;
    -moz-transform: scale(.9999);
}

.inner-rank-badge:before {
    content: " ";
    height: 0;
    border-right: 6px solid var(--rank-background-color);
    left: -6px;
}

.inner-rank-badge:after {
    content: "";
    right: -6px;
    top: 0;
    border-left: 6px solid var(--rank-background-color);
    z-index: 2;
}


/*  */

.honor::before {
    content: 'Honor: ';
}

.leader-position::before {
    content: 'Leaderboard Position: '
}

.total-kata::before {
    content: 'Total Completed Kata: '
}

.tasks {
    height: calc(100vh - 120px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2em;
    gap: 1em;
    padding: 1em;
}

.buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 6em);
    gap: 1em;
}

.submit,
.reset {
    width: 6em;
    justify-self: center;
    background-color: #1E1F21;
    color: #6795DE;
    outline: none;
    border: 1.5px solid #6795DE;
    font-weight: 400;
    border-radius: 5px;
    transition: background-color .15s;
}

.submit {
    background-color: #6795DE;
    color: #1E1F21;
}

.submit:hover {
    cursor: pointer;
    background-color: #7CA4E3;
    border: 1.5px solid #7CA4E3;
}

.reset:hover {
    background-color: #0B0C0C;
    cursor: pointer;
}

textarea {
    min-height: 150px;
    padding: .25em 1em;
    resize: none;
    background-color: #303133;
    border-radius: .75em;
    color: lightslategray;
    font-size: 1em;
    border: none;
}

textarea:focus {
    box-shadow: 0 0 0 3px #485563;
    outline: none;
}

.output {
    min-height: 150px;
    display: grid;
    align-items: center;
    background-color: #303133;
    border-radius: .75em;
    overflow-y: scroll;
}

.output > a {
    align-self: flex-start;
    display: inline-block;
    padding: 0 1em;
    font-size: .9em;
    line-height: 1.5em;
    color: whitesmoke;
    text-decoration: none;
    transition: background-color .05s;
}

.output > a:hover {
    background-color: #6795DE50 !important;
    cursor: pointer;
}

.output > a:nth-child(even) {
    background-color: #3e3e3e;
}

.output p {
    display: inline-block;
    margin: 0;
    padding-left: .5em;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.25em;
}

.output h4 {
    display: inline-block;
    font-weight: 400;
}

.total-block {
    display: grid;
    justify-content: center;
}

.total {
    margin: 0;
}